@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&display=swap");

/* Font Segmentation */
:root {
  --PR: "Poppins-Regular";
  --PS: "Poppins-ExtraThin";
  --PB: "Poppins-Bold";
  --RR: "Roboto-Regular";
}

body {
  font-family: "Poppins";
  font-size: 16px;
}

/* Header Section ==> */

.header {
  background-color: #f0fff0;
  height: 576px;
}
/* Navbar Section ==> */
.logo img {
  width: 25%;
}
.signin {
  padding: 5px 25px;
  border-radius: 25px;
  margin-left: 15px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto";
}
.navbar-nav li {
  margin: 0 16px;
}

.navbar-nav li a {
  font-size: 16px;
  line-height: 24px;
  color: black !important;
}

/* <== Navbar Section */

/* Hero Section ==> */

.text-area h6 {
  color: #fd511a;
  margin: 25px 0px;
}

.text-area h1 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 42px;
  line-height: 55px;
}
.text-area span {
  color: #21b573;
}

.text-area p {
  color: #6c6b6b;
  margin: 25px 0px;
}
